html,
body {
    margin: 0px;
    height: 100%;
}

.map {
    background: rgb(192, 192, 192);
    height: 100%;
}


.draw-tool{
    top: 55px;
    left: .5em;
}

.edit-tool{
    top: 80px;
    left: .5em;
}
.delete-tool{
    top: 105px;
    left: .5em;
}